.login_btn{
    position: relative;
    float: left;
}
.login_ip{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}
.login_title{
    font-family: "Kanit", sans-serif;
    font-size: 500;
    font-weight: 700;
    font-style: italic;
}
